.destinations {
    margin: 100px 65px 100px 100px;
    box-sizing: border-box;
  
}

.des-decore{
    height: 252px;
    width: 96px;

    position: absolute;
    z-index: -1;

    right: 100px;
    top: 1820px;
}
.destinations-list {
    display: flex;
    flex-direction: row;

    width: 100%;
    position: relative;
}
.destinations-item {
    height: 457px;
    width: 315px;

    position: relative;
    margin-right: 40px;
}

.item-infor{
    height: 130px;
    width: 315px;

    position: absolute;
    top:330px;
    left: 80px;

    background-color: #FFFFFF;
    color: black;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 15px 20px;

    color: #5E6282;
    font-size: 18px;
    height: 22px;
}
.time {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #5E6282;
    font-size: 16px;

    text-align: left;
    margin-left: 20px;

}
.send-icon {
    margin-right: 15px; 
    height: 20px;

}

@media screen and (max-width: 480px) {
    .destinations {
        text-align: left;
        margin: 50px 0 5px 40px;


    }
    .destinations-list {
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        margin-left: -80px;

    }
    .destinations-item {
        margin: 20px 20px 0 10px;
        width: 60%;
    }
    h2 {
        display: block;
        font-size: 26px;
        width: 90%;
        word-wrap: break-word;
    }
    .des-decore{
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
    .destinations {
        text-align: left;
        margin: 50px 0 5px 40px;

    }
    .destinations-list {
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        margin-left: -80px;

    }
    .destinations-item {
        margin: 20px 20px 0 10px;
    }
    h2 {
        font-size: 30px;
        width: 90%;
    }
    .des-decore{
        display: none;
    }
    
}
@media screen and (max-width: 999px) and (min-width: 769px) {
    .destinations {
        text-align: left;
        margin: 50px 0 5px 40px;

    }
    .destinations-list {
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        margin-left: -80px;

    }
    .destinations-item {
        margin: 20px 20px 0 10px;
    }

    h2 {
        font-size: 36px;
    }
    .des-decore{
        display: none;
    }
   
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .destinations{
        margin-top: 10px ;
    }
    .destinations-list{
        flex-wrap: wrap;
        
    }
    .destinations-item{
        margin-top: 20px;
    }
    h2 {
        font-size: 40px;
    }
    .des-decore{
        display: none;
    }
}