
.subscribe{
    display: grid;
    margin-top: 10px;
    background-image: url(../../../assets/img/background-sub.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: left center;
   
}
.sub-infor {
    grid-row: 2\ span 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sub-text{
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    width: 800px;   
}
.sub-icon{
    grid-row: 1\ span 1;
    width: 70px;
    height: 70px;
    padding-top: 30px;
    margin-left: 90vw;
}
.button-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-sub {
    border: 1px solid #39425D;
    border-radius: 10px;
    color: #39425D;
    height: 68px;
    width: 421px;
    margin: 50px 20px;
    padding-left: 20px;

}
.envelope-icon{
    font-size: 25px;
    color: #5E6282;

}
.button-sub {
    background-color: #FF946D ;
    border-radius: 10px;
    border: none;
    height: 58px;
    width: 100px;
    margin: 0 20px;
    cursor: pointer;
}

.plus-img{
    grid-row: 3 \ span 1;
    width: 153px;
    height: 166px;
    margin-left: 1250px;
}

/*Responsive Subscribe*/
@media screen and (max-width: 480px) {
    .subscribe{
        margin: 10px 40px;
        text-align: left;    
    }
    .sub-infor{
        align-items: flex-start;        
    }
    .sub-text {
        display: block;
        font-size: 26px;
        text-align: left;
        width: 90vw;
        word-wrap: break-word;
    }
    .button-input {
        flex-direction: column;
        align-items: flex-start;
    }
    .button-sub{
        width: 100px;
        margin-left: 30px;
    }
    .input-sub{
        width: 60vw;
        margin: 20px 10px;
    }
    .sub-icon {
        margin-left: 75vw;
        
    }
    
}
@media screen and (max-width: 768px) and (min-width: 481px) {
    .subscribe{
        margin: 10px 40px;
        text-align: left;    
    }
    .sub-infor{
        align-items: flex-start;        
    }
    .sub-icon {
        margin-left: 78vw;

    }
    .sub-text {
        font-size: 30px;
        text-align: left;  
        width: 80vw;
    }      
    .input-sub{      
        margin: 20px 10px;
        width: 50vw;
    } 
    .button-sub{
        margin-left: 20px;
    }
}
@media screen and (max-width: 999px) and (min-width: 769px) {
    .sub-text {
        font-size: 30px;
       
    } 
    .sub-infor {
        padding-right: 150px;
    } 
    .sub-icon {
        margin-left: 750px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
   
    .sub-text {
        font-size: 30px;        
    } 
    .sub-icon {
        margin-left: 85vw;
    }
   
}