.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;

    margin: 40px 58px 10px 100px;
}

.logo {
    margin: 0;
    width: 10%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;

    list-style: none;
    

    margin: 0;
    width: 80%;
    height: 30px;
}
.nav-item {
    margin: 0 40px;
    align-items: center;

    color: #212832;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
}
.nav-item a {
    text-decoration: none;
    color: #212832;
}
.nav-item__button {
    border: #212832 solid 0.5px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    align-items: center;

    background-color: #fff1da;
    text-align: center ;

    padding: 0 10px;
    margin: -12px 10px 0 10px;
}
.nav-item__button-icon {
    border: none;
    font-size: 17px;
    font-weight: bold;
    align-items: center;

    background-color: #fff1da;

    padding: 5px 7px 5px 7px;
    margin: -10px 10px 0 10px;
}

.menu-burger {
    display: none;
    color: #212832;
    margin: 0 20px;
    font-size: 20px;
}

.nav-item__button,
.nav-item,
.nav-item__button-icon,
.menu-burger :hover {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .topnav {
        margin: 40px 50px 10px 40px;
    }
    .nav-list {
        display: none;
    }
    .menu-burger {
        display: block;
    }
}
@media screen and (max-width: 1059px) and (min-width: 769px){
    .topnav {
        margin: 40px 50px 10px 100px;
    }
    .nav-list {
        display: none;
    }
    .menu-burger {
        display: block;
    }
}

@media screen and (max-width: 1060px) {
    .topnav {
        height: 30px;
    }
    .nav-item{
        margin: 10px;
        font-size: 16px;
    }
    .nav-item__button,
    .nav-item__button-icon {
        margin: -5px 10px;
        font-size: 16px;
    }
    .logo {
        width: 100px;
        height: 30px;
    }
}

