.tes-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;

    margin: 100px 65px 100px 150px;

}
.pagination{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 120px;
    width: 14px;
    height: 71px;
}
.tes-left{
    display: flex;
    flex-direction: column;
    
    text-align: left;
    margin-right: 50px;
    padding-top: 20px;
    
}
.tes-right{
    display: grid;
    
    margin-left: 50px;
    height: 230px;
    
}
.infor-staff{
    grid-row: 1 \ span 1;
    background-color: #ffff;
  
    height: 250px;

    display: flex;
    flex-direction: row;
}
.infor-person{
    text-align: justify;
    padding: 60px 0 0 60px;

}
.img-person{
    width: 68px;
    height: 68px;
    

    position: absolute;
    margin-right: 10px;

}
.infor-manager{
    grid-row: 2 \ span 1;

    background-color: #F7F7F7;
    border-radius: 10px;
    text-align: justify;

    width: 450px;
    height: 200px;

    z-index: -1;
    margin-top: -100px;
    margin-left: 100px;
}
.pagination-button {
    background:#ffff;
    border: none;
    color: #BCB7C2 ;
}
.pagination-button:hover{
    cursor: pointer;
    color: #181E4B;

}
.angle-up, 
.angle-down {
    margin: 30px 0;
    font-size: 25px;
    font-weight: 500;
}

/*Responsive*/
@media screen and (max-width: 480px) {
    .tes-sections {
        flex-direction: column;
        margin: 80px 0 5px 40px;
        justify-content: left;

    }
    .tes-right{
        margin: 30px 0 40px 0;
    }
    .infor-person{
        width: 50%;
    }
    .pagination{
        transform:rotate(90deg);
        margin-left: 250px;        
    }
    h2 {
        display: block;
        font-size: 26px;
        
        word-wrap: break-word;
    }
    
}
@media screen and (max-width: 768px) and (min-width: 481px) {
    .tes-sections {
        flex-direction: column;
        margin: 100px 0 5px 40px;
        justify-content: left;

    }
    .tes-right{
        margin: 30px 0 40px 0;
    }
    .infor-person{
        width: 80%;
    }
    .pagination{
        transform:rotate(90deg);
        margin-left: 250px;        
    }
    h2 {
        font-size: 30px;
        width: 90%;
    }
    
    
}
@media screen and (max-width: 999px) and (min-width: 769px) {
    h2 {
        font-size: 36px;
    }
   
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    
    h2 {
        font-size: 40px;
    }
    
}
