.footer{
    position: absolute; 
    width: 100%;
    height: 1rem;
    bottom: 0;
    
}
.footer-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 60px;
}
.footer-items{
    text-align: left;
    margin-top: 20px;
}
.main-item{
    order: -1;
}
.list-items{
    list-style-type: none;
    text-align: left;
    padding: 0;
}
.footer-items-app{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.button-item{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 10px;
    height: 35px;
    width: 90px;

    border: none;
    border-radius: 17px;
    background-color: #080809;
}
.button-item > span{
    text-align: left;
    color: #FFFF;
    font-size: 8px;
    margin: 0;
}
.socical-media {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 70px;
}
.socical-media-icon {
    height: 100%;
    margin-right: 20px;
    font-size: 45px;
}
.apple-icon,
.google-play-icon {
    height: 14px;
    width: 14px;
    margin-right: 7px;
}

@media screen and (max-width: 770px) {
    .list-items {
        font-size: 15px;
    }
    .footer-items > p {
        font-size: 17px;
    }
}