.App {
  text-align: center;

}
.font-base {
  font-family: "vollkorn";
 }
.font-vollkron-var {
  font-family: "vollkornVar";
}
.font-ggsans-regular {
  font-family: "GoogleSanRegular";
}
.font-volkhov-regular {
  font-family: "volkhovRegular";
}
.font-volkhov-bold {
  font-family: "volkhovBold";
}
.font-poppiuin-medium{
  font-family: "poppinMedium";
}

h2 {
  font-family: "volkhovBold";
  color: #14183e;
  font-size: 50px;
  margin-top: 0;
}
h5{
  font-family: "poppinMedium";
  font-size: 44px;
  font-weight: 500;
  color: #181E4B;
  margin: -10px 0 10px 0;

}
h6 {
  color: #5e6282;
  font-size: 18px;
  font-family: "poppinMedium";
  margin: 0;
}
p{
  font-family: "poppinRegular";
  font-size: 16px;
  font-weight: 500;
  color: #5E6282;
  margin: 10px 0 ;
}
.p-style{
  font-family: "poppinMedium";
  color: #5E6282;
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;

}
.p-style1{
  font-family: "poppinMedium";
  font-size: 21px;
  font-weight: bold;
  color: #080809;
  margin-top: 16px;
}
.p-style2{
  font-family: "poppinMedium";
  font-size: 18px;
  font-weight: bold;
  color: #080809;
  margin-top: 16px;
}
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
