@import "./fonts/fonts.css";
/*@font-face {
  font-family: "vollkorn";
  src: local("vollkorn"), url("./fonts/vollkorn/Vollkorn-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
