.decore {
    background-image: url(../../../assets/img/Decore.png);
    background-size: cover;
    box-sizing: border-box;

    position: absolute;
    width: 650px;
    height: 717px;
    right: 0px;
    top: 0;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .decore {
       display: none;
    }
}
@media screen and (max-width: 1000px) {
    .decore {
        height: 300px;
        width: 200px;
    }
}